body {
    background-image: url("knit-unsplash.jpg");
    background-size: Cover;
    background-repeat: no-repeat;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 60vh;
    color: white;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 60px;
}

h2 {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    width: 300px;
    margin: 0 5px 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #039590;
}

#increment-btn:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#save-btn {
    background: #884A39;
}

#save-btn:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
   max-width: 70%;
   background: rgba(85, 85, 85, 0.8);
   margin: 100px auto;
   padding: 5px;
   border: none;
   border-radius: 10px;
}

p {
    font-size: 25px;
}
